# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# PyCharm project files
.idea/

# Test results and logs
*.log
*.out
*.tmp
*.test

# Mac system files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Cache files
.cache/
coverage/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints (if ever used)
.ipynb_checkpoints/

# Editor files
*.swp
*~
